:root {
    --loader-size: 150px;
    --loader-color: #bfc5c0; /* azul, o el color que quieras */
}

@keyframes loader-animation {
    0% {
        transform: rotateY(0deg);
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
}
/* https://grabient.com/HQFgrCA0oGwIzRPRAmFi4HZEAYDM0KAnAByFE7RxhGQzAphh0Mjb0qYLB5HZygiUYFyg4gA?style=angularSwatches&steps=13 */


.loader {
    display: inline-block;
    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: 50%;
    background: conic-gradient(

            #fafafa 16.667%,
            #9b9b9b 50.000%,
            #212121 100.000%
    );
    animation: loader-animation 3.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
