:root {
    --loader-size: 150px;
    --loader-color: #e0e0e0; /* azul, o el color que quieras */
}

@keyframes loader-animation {
    0% {
        transform: rotateY(0deg);
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
}

.loader {
    display: inline-block;
    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: 50%;
    border: 4px ridge var(--loader-color);
    background: linear-gradient(
            0deg,
            #f6d1e8 16.667%,
            #966e8b 50.000%,
            #252424 100.000%
    );
    animation: loader-animation 3.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
